{% load static %}
{% block header%}
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="{% url 'dashboard' %}" class="logo logo-dark">
                            <span class="logo-sm">
                                <h1 class="fs-2 text-white" style="
                                font-size: 2rem;
                                margin: 0%;
                                padding: 2.5rem 1rem 1rem 0rem;
                            ">T</h1>
                                <!-- <img src="{% static 'images/logo.svg' %}" alt="" height="22"> -->
                            </span>
                            <span class="logo-lg">
                                <h1 class="fs-2 text-white" style="
                                font-size: 2rem;
                                margin: 0%;
                                padding: 2.5rem 1rem 1rem 0rem;
                            ">Trifecta</h1>
                                <!-- <img src="{% static 'images/logo-dark.png' %}" alt="" height="17"> -->
                            </span>
                        </a>

                        <a href="{% url 'dashboard' %}" class="logo logo-light">
                            <span class="logo-sm">
                                <h1 class="fs-2 text-white" style="
                                font-size: 2rem;
                                margin: 0%;
                                padding: 2.5rem 1rem 1rem 0rem;
                            ">T</h1>
                                <!-- <img src="{% static 'images/logo-light.svg' %}" alt="" height="22"> -->
                            </span>
                            <span class="logo-lg">
                                <h1 class="fs-2 text-white" style="
                                font-size: 2rem;
                                margin: 0%;
                                padding: 2.5rem 1rem 1rem 0rem;
                            ">Trifecta</h1>
                                <!-- <img src="{% static 'images/logo-light.png' %}" alt="" height="19"> -->
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn" style="padding: 0%;padding-top: .7rem;">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <!-- App Search-->
                    <form class="app-search d-none d-lg-block" style="padding: 0%;padding-top: 1.5rem;">
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Search..." list="search" id="search_input">
                            <span class="bx bx-search-alt"></span>
                        </div>
                        <datalist id="search">
                            <option value="transaction">How to Create Transaction</option>
                            <option value="batch">How to Create Batchs</option>
                            <option value="customer">How to Create Customer</option>
                            <option value="schedules">How to Create Schedules</option>
                            <option value="report">How to Create Report</option>
                            <option value="download_transaction">How to Create Download Transaction Report</option>
                        </datalist>
                    </form>
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block">
                        <a href="{% url 'account:logout' %}" type="button" class="btn header-item noti-icon " id="page-header-notifications-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                            <i class="bx bx-log-out-circle"></i> Logout
                            
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-notifications-dropdown">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0" key="t-notifications"> Notifications </h6>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!" class="small" key="t-view-all"> View All</a>
                                    </div>
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 230px;">
                                <a href="javascript: void(0);" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                <i class="bx bx-cart"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1" key="t-your-order">Your order is placed</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1" key="t-grammer">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript: void(0);" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <img src="{% static 'images/users/avatar-3.jpg'%}"
                                            class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1">James Lemire</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1" key="t-simplified">It will seem like simplified English.</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">1 hour ago</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript: void(0);" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-success rounded-circle font-size-16">
                                                <i class="bx bx-badge-check"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1" key="t-shipped">Your item is shipped</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1" key="t-grammer">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a href="javascript: void(0);" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <img src="{% static 'images/users/avatar-4.jpg'%}"
                                            class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1">Salena Layfield</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1" key="t-occidental">As a skeptical Cambridge friend of mine occidental.</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">1 hour ago</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2 border-top d-grid">
                                <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                    <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">View More..</span> 
                                </a>
                            </div>
                        </div>
                    </div>

                    <div clacalendar-full.htmls="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                            <a href="/profile"><i class="bx bx-cog bx-spin"></i></a>
                        </button>
                    </div>
                    <style>
                        #create-transaction{display: none;}
                    </style>

                </div>
            </div>
        </header>
        <script>
            const search = document.getElementById('search_input');
            const list = {
                transaction: "/help#transaction",
                batch: "/help#batch",
                customer : "/help#customer",
                schedules : "/help#schedules",
                report : "/help#report",
                download_transaction : "/help#download_transaction"
            }

            search.addEventListener('change',(e) => {
                const value = e.target.value;
                const article = list[value];

                if(article){
                    window.open(window.origin+article,'_self');
                }
                    
            });
        </script>
{% endblock %}