{% extends 'partials/new_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  

{% endblock %}

{% block contents %}

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'libs/datatables.net-autofill-bs4/js/model_autoload.js' %}"></script>

<script type="text/javascript">
function confirmDelete() {
    if (confirm("Are you sure you want to delete this item?")) {
        return true;
    } else {
        return false;
    }
}

</script>
<style>
.filter-form label {
  float: left;
  margin-right: 10px;
}
.filter-form p {
  float: left;
  margin-right: 10px;
}

.filter-form input[type="text"] {
  width: 200px;
  float: left;
  border: 1px solid #ccc;
  height: 40px;


}

.filter-form button[type="submit"] {
  float: left;


}
.my_form label{ font-size:13px !important ; margin-bottom: 0.2rem !important;}

</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                
                <!-- end row -->

                    <input type="text" value={{length}} id="length" hidden="true"/>
                    <div class="table-responsive">
                        <table class="table transaction-list-table align-middle table-nowrap dt-responsive nowrap w-100 table-borderless" id="transactionList-table">
                        <thead class="">
                            <tr>
                                <th style="padding-left: 4rem;" scope="col" style="width: 60px">#</th>
                                <th style="padding-left: 4rem;" scope="col">customer ID</th>
                                <th style="padding-left: 4rem;" scope="col">First Name</th>
                                <th style="padding-left: 4rem;" scope="col">Last Name</th>
                                <th style="padding-left: 4rem;" scope="col">Company</th>
                                <th style="padding-left: 4rem;" scope="col">Address</th>
                                <th style="padding-left: 4rem;" scope="col">City</th>
                                <th style="padding-left: 4rem;" scope="col">State</th>
                                <th style="padding-left: 4rem;" scope="col">Zip Code</th>
                                <th style="padding-left: 4rem;" scope="col">Country</th>
                                <th style="padding-left: 4rem;" scope="col">Phone Number</th>
                                <!-- <th style="padding-left: 4rem;" scope="col">Card Number</th> -->
                                <!-- <th style="padding-left: 4rem;" scope="col">Expiration Date</th> -->
                                <!-- <th style="padding-left: 4rem;" scope="col">CVV</th> -->
                                <th style="padding-left: 4rem;" scope="col">Email</th>
                                <th style="padding-left: 4rem;" scope="col">Date</th>
                                <th style="padding-left: 4rem;" scope="col">Action</th>
        
                            </tr>
                        </thead>
                        <tbody>
                            <input hidden="true" type="number" value="{{lenght}}" id="lenght"/>
                            {% for customer in customers %}
                                <tr>
                                    <td style="white-space: pre; padding-left: 4rem;" id="btn{{forloop.counter}}" style="cursor: pointer;">{{ forloop.counter }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.customer_id }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.first_name }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.last_name }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.company }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.address }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.city }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.state }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.zip_code }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.country }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.phone_number }}</td>
                                    <!-- <td style="white-space: pre; padding-left: 4rem;">xxxx xxxx xxxx {{ customer.card_number|slice:"-4:" }}</td> -->
                                    <!-- <td style="white-space: pre; padding-left: 4rem;">{{ customer.exp_month }} / {{ customer.exp_year }}</td> -->
                                    <!-- <td style="white-space: pre; padding-left: 4rem;">{{ customer.cvv }}</td>    -->
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.email }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;">{{ customer.date }}</td>
                                    <td style="white-space: pre; padding-left: 4rem;"><p class="text-primary" style="cursor: pointer;" id="btn-{{forloop.counter}}">View Cards</p></td>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal-{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Customer Cards</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-{{forloop.counter}}">X</button>
                                                </div>
                                                <div class="modal-body">
                                                    {% for card in customer.cards %}
                                                    <div style="display: flex; justify-content: space-between;">
                                                        <p>XXXX XXXX XXXX {{card.card_number|slice:"-4:"}}</p>
                                                        <p>XX / XXXX</p>
                                                        <p>XXX</p>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="18" class="text-center">No transactions.</td>
                                </tr>
                            {% endfor %}
                            <script>
                                const len = +document.getElementById('lenght').value;
                                console.warn('len',len)
        
                                for (let index = 1; index < len+1; index++) {
                                    const btn = document.getElementById(`btn-${index}`);
                                    console.info(btn)
                                    const close = document.getElementById(`close-${index}`);
                                    console.log(close)
                                    btn.addEventListener('click',() => {
                                        const model = new bootstrap.Modal(document.getElementById(`modal-${index}`), {});
                                        model.show();
        
                                        close.addEventListener('click',() => {
                                            model.hide();
                                        });
                                    });
                                }
                            </script>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>
<!-- end row -->

{% endblock %}

{% block extra_content %}          
<!-- Modal -->
<div class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body px-4 py-5 text-center">
                <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="avatar-sm mb-4 mx-auto">
                    <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
                        <i class="mdi mdi-trash-can-outline"></i>
                    </div>
                </div>
                <p class="text-muted font-size-16 mb-4">Are you sure you want to remove this order?</p>
                
                <div class="hstack gap-2 justify-content-center mb-0">
                    <button type="button" class="btn btn-danger" id="remove-item">Remove Now</button>
                    <button type="button" class="btn btn-secondary" id="close-removeProjectModal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- end removeItemModal -->