{% extends 'partials/new_base.html' %}
{% load static %}


{% block extra_css %}
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

<!-- dropzone css -->
<link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
<div class="container">
    <div class="p-2 d-flex justify-content-center align-items-center" style="flex-direction: column;">


        <div class="w-75 h-75 rounded bg-white p-4" style="box-shadow: 0px 5px 5px 0px rgba(82, 63, 105, 0.05);">
            {% for message in messages %}
            <div class="alert {{ message.tags }} mb-4 text-center" role="alert"
                style="padding: .5rem; font-size: 1rem;">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            <form method='POST' class="p-2 mt-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="my-2">
                    <label style="font-size: 1.1rem;">Dispute Type</label>
                    <select name="type" class="form-control">
                        <option value="Transaction">Transaction </option>
                        <option value="Service ">Service  </option>
                        <option value="Other">Other </option>
                    </select>
                </div>
                <div class="my-2">
                    <label style="font-size: 1.1rem;">Desctription</label>
                    <textarea type="text" class="form-control" name="description" placeholder="Enter Desctription" required rows="12">

                    </textarea>
                </div>
                

                <div class="my-2">
                    <input type="submit" class="btn btn-primary" value="Create Now" />
                </div>
            </form>
        </div>


    </div>
</div>
<script>
    const createBtn = document.getElementById('create-transaction-id');
    const hidePath = ['/profile/', '/help/', '/change-password/', '/profile', '/help', '/change-password', '/transactions/my-team/', '/transactions/my-team', '/transactions/add-member', '/transactions/add-member/']
    const pathname = window.location.pathname;
    if (hidePath.includes(pathname)) {
        createBtn.style.display = 'none';
    } else {
        createBtn.style.display = 'block';
    }
</script>
{% endblock %}