{% extends 'partials/new_base.html' %}
{% load static %}


{% block extra_css %}
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

<!-- dropzone css -->
<link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
<div class="container">
    <div class="p-2">
        <div class="py-2 px-4 d-flex justify-content-end">
            <a href="/transactions/add-member/" class="btn btn-primary text-white">Add Member</a>
        </div>
        {% for message in messages %}
        <div class="alert {{ message.tags }} mb-4 text-center" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        <div class="card mt-4">
            <div class="card-body">


                <div class="table-responsive">
                    <table
                        class="table transaction-list-table align-middle table-nowrap dt-responsive nowrap w-100 table-borderless"
                        id="transactionList-table">
                        <thead class="">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Prodcut Name</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Address</th>
                                <th scope="col">Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td scope="col">
                                    <a href="/items/products/{{product.id}}">{{forloop.counter}}</a>
                                    
                                </td>
                                <td scope="col">{{order.product.name}}</td>
                                <td scope="col">{{order.name}}</td>
                                <td scope="col">{{order.quantity}}</td>
                                <td scope="col">{{order.address}}</td>
                                <td scope="col">{{order.phone}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const createBtn = document.getElementById('create-transaction-id');
    const hidePath = ['/profile/', '/help/', '/change-password/', '/profile', '/help', '/change-password', '/transactions/my-team/', '/transactions/my-team']
    const pathname = window.location.pathname;
    if (hidePath.includes(pathname)) {
        createBtn.style.display = 'none';
    } else {
        createBtn.style.display = 'block';
    }

    const selectBox = document.querySelectorAll('.select-box');

    selectBox.forEach(selectEle => {
        selectEle.value = selectEle.getAttribute('data-value');
        selectEle.addEventListener('change', function () {
            this.form.submit();
        });
    });
</script>
{% endblock %}