{% extends 'partials/base.html' %}
{% load static %}


{% block extra_css %}
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

<!-- dropzone css -->
<link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
<div class="row" style="width: 100%; margin-top: 2rem;">
    <form  class="d-flex justify-content-center align-items-center w-100 my-4">
      <button class="btn btn-primary mr-4" type="button" onclick="submithandler('last year')">Last Year</button>
      <button class="btn btn-primary mr-4" type="button" onclick="submithandler('last week')">Last Week</button>
      <button class="btn btn-primary mr-4" type="button" onclick="submithandler('yesterday')">Yesterday</button>
      <button class="btn btn-primary mr-4" type="button" onclick="submithandler('today')">Today</button>
      <input type="date" class="py-2 px-2" style="cursor: pointer; background: #556ee6; border: none; border-radius: .2rem; color: white;" id="date" name="date"/>
    </form>

    <div style="display: grid;grid-template-columns: repeat(4,1fr);flex: none;gap: 2rem;max-width: 100%;width: 100%;">
        <div class="card shadow-sm">
            <h5 class="card-header text-center" style="background-color: #007FFF; color: white;">Orders</h5>
            <div class="card-body">
                <h5 class="fs-2 text-gray-300 text-center">{{orders}}</h5>
            </div>
        </div>
        <div class="card shadow-sm">
            <h5 class="card-header text-center" style="background-color: #007FFF; color: white;">Total</h5>
            <div class="card-body">
                <h5 class="fs-2 text-gray-300 text-center">{{total}}$</h5>
               
            </div>
        </div>
        <div class="card shadow-sm">
            <h5 class="card-header text-center" style="background-color: #007FFF; color: white;">Avg. Transaction</h5>
            <div class="card-body">
                <h5 class="fs-2 text-gray-300 text-center">{{avg}}$</h5>
                
            </div>
        </div>
        <div class="card shadow-sm">
            <h5 class="card-header text-center" style="background-color: #007FFF; color: white;">Credit</h5>
            <div class="card-body">
                <h5 class="fs-2 text-gray-300 text-center">{{refund}}$</h5>
            </div>
        </div>

        <div class="card shadow-sm">
            <h5 class="card-header text-center" style="background-color: #007FFF; color: white;">Save</h5>
            <div class="card-body">
                <h5 class="fs-2 text-gray-300 text-center">{{save}}$</h5>
            </div>
        </div>

        <div class="card shadow-sm">
            <h5 class="card-header text-center" style="background-color: #007FFF; color: white;">Charge</h5>
            <div class="card-body">
                <h5 class="fs-2 text-gray-300 text-center">{{charge}}$</h5>
            </div>
        </div>

        <div class="card shadow-sm">
            <h5 class="card-header text-center" style="background-color: #007FFF; color: white;">Auth Only</h5>
            <div class="card-body">
                <h5 class="fs-2 text-gray-300 text-center">{{auth_only}}$</h5>
            </div>
        </div>

        <div class="card shadow-sm">
            <h5 class="card-header text-center" style="background-color: #007FFF; color: white;">Post Auth</h5>
            <div class="card-body">
                <h5 class="fs-2 text-gray-300 text-center">{{post_auth}}$</h5>
            </div>
        </div>
        
    </div>
    <!-- chart  -->
    <div class="w-75 m-auto py-4 px-2 h-50" style="height: 40rem !important; display: flex; justify-content: center;">
      <input type="text" id="doughnut_data" value="{{doughnut_data}}" hidden="true"/>
      <canvas id="doughnut"></canvas>
    </div>

    <div class="w-75 m-auto py-4 px-2">
        <input type="text" hidden="true" value="{{chart_transaction}}" id="chart_transaction"/>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
    const doughnut = document.getElementById('doughnut');
    const chart_transaction = JSON.parse(document.getElementById('chart_transaction').value);
    console.log(chart_transaction)
    const {week_list} = chart_transaction
    const chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [week_list[0],week_list[1],week_list[2],week_list[3],week_list[4],week_list[5],week_list[6]],
        datasets: [{
          label: 'this week',
          data: [chart_transaction[week_list[0]].length, chart_transaction[week_list[1]].length, chart_transaction[week_list[2]].length, chart_transaction[week_list[3]].length, chart_transaction[week_list[4]].length, chart_transaction[week_list[5]].length,chart_transaction[week_list[6]].length],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    
    const doughnut_data = JSON.parse(document.getElementById('doughnut_data').value)
    const dl = Object.keys(doughnut_data);
    dought_values = []
    dl.forEach(ele => {
      dought_values.push(doughnut_data[ele])
    })
    const doughnutdata = {
      labels: dl.length !== 0 ? dl : ['No Transaction'],
      datasets: [{
        label: 'My First Dataset',
        data: dought_values,
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };

    const doughnutchart = new Chart(doughnut, {
      type: 'doughnut',
      data: doughnutdata
    });


    // date logic 
    const dateInput = document.getElementById('date');
    const date = new URLSearchParams(window.location.search).get('date')
    if(date) dateInput.value = date;
    dateInput.onchange = function (e){
      this.form.submit();
    }

    const selectedDate = new Date(dateInput.value);
    const yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);
      if (
        selectedDate.getFullYear() === yesterday.getFullYear() &&
        selectedDate.getMonth() === yesterday.getMonth() &&
        selectedDate.getDate() === yesterday.getDate()
      ) {
        dateInput.placeholder = 'Yesterday';
      } else {
        dateInput.placeholder = '';
      }
    
      function submithandler(datearg){
        const url = window.location.origin + window.location.pathname + `?date=${datearg}`;
        window.location.href = url;
      }
</script>
{% endblock %}