{% extends 'partials/base.html' %}
{% load static %}


{% block extra_css %}
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

<!-- dropzone css -->
<link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
<div class="container">

    <!--Section: FAQ-->
    <section>
        <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
        <p class="text-center mb-5">
            Find the answers for the most frequently asked questions below
        </p>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4" id="transaction">
                <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> how to create transaction?</h6>
                <p>
                    <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
                    your
                    safety and
                    security. All billing information is stored on our payment processing partner.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4" id="batch">
                <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> A question
                    how to create batch?</h6>
                <p>
                    <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
                    your
                    account. Once the subscription is
                    cancelled, you will not be charged next month.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4" id="customer">
                <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>how to create customer?
                </h6>
                <p>
                    Currently, we only offer monthly subscription. You can upgrade or cancel your monthly
                    account at any time with no further obligation.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4" id="schedules">
                <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i>how to create schedules?
                </h6>
                <p>
                    Yes. Go to the billing section of your dashboard and update your payment information.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4" id="report">
                <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i>how to check repot?
                </h6>
                <p><strong><u>Unfortunately no</u>.</strong> We do not issue full or partial refunds for any
                    reason.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4" id="download_transaction">
                <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i>How to Download transactions</h6>
                <p>
                    Of course! We’re happy to offer a free plan to anyone who wants to try our service.
                </p>
            </div>
        </div>
        <div class="p-4 bg-dark">
            <p class="text-white" style="margin: 0%;">For Contacting Us Contact Us at <span class="text-primary">help@trifecta.com<span></p>
        </div>
    </section>
    <script>
        const createBtn = document.getElementById('create-transaction-id');
        const hidePath = ['/profile/','/help/','/change-password/','/profile','/help','/change-password']
        const pathname = window.location.pathname;
        if (hidePath.includes(pathname)){
            createBtn.style.display = 'none';
        }else{
            createBtn.style.display = 'block';
        }
    </script>
    <!--Section: FAQ-->
</div>
{% endblock %}