{% extends 'partials/new_base.html' %}
{% load static %}


{% block extra_css %}
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

<!-- dropzone css -->
<link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="w-75 h-75 rounded p-4 mt-4 card">
                <div class="card-header">
                    <h4 class="card-title">{{heading}}</h4>
                </div>
                <form method='POST' class="p-2 mt-2">
                        {% csrf_token %}
                        <div class="my-4">
                            <label style="font-size: 1.1rem;">Bank Name</label>
                            <input type="text" class="form-control" value="{{account.bank_name}}" name="bank_name" placeholder="Bank Name"/>
                        </div>
                        <div class="my-4">
                            <label style="font-size: 1.1rem;">Bank Address</label>
                            <input type="text" class="form-control" value="{{account.bank_address}}" name="bank_address" placeholder="Bank Address"/>
                        </div>
                        <div class="my-4">
                            <label style="font-size: 1.1rem;">Bank Holder Name</label>
                            <input type="text" class="form-control" value="{{account.account_holder_name}}" name="account_holder_name" placeholder="Account Holder Name"/>
                        </div>
                        <div class="my-4">
                            <label style="font-size: 1.1rem;">Bank Holder Address</label>
                            <input type="text" class="form-control" value="{{account.account_holder_address}}" name="account_holder_address" placeholder="Account Holder Address"/>
                        </div>
                        <div class="my-4">
                            <label style="font-size: 1.1rem;">Account Number</label>
                            <input type="text" class="form-control" value="{{account.account_number}}" name="account_number" placeholder="Account Number"/>
                        </div>
                        <div class="my-4">
                            <label style="font-size: 1.1rem;">Routing  Number</label>
                            <input type="text" class="form-control" value="{{account.routing_number}}" name="routing_number" placeholder="Routing Number"/>
                        </div>
                        <div class="my-4">
                            <label style="font-size: 1.1rem;">SWIFT/BIC Code</label>
                            <input type="text" class="form-control" value="{{account.bic_code}}" name="bic_code" placeholder="SWIFT/BIC Code"/>
                        </div>
                        <div class="my-4">
                            <input type="submit" class="btn btn-primary" value="{{btn_value}}"/>
                        </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}