

{% extends 'partials/base.html' %}
{% load static %}

{% load widget_tweaks %}


{% block extra_css %}
    {{ form.media.css }}
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- dropzone css -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contents %}







    <!--<form method="POST" id="form" action="/transactions/create/">
       
        
        {% csrf_token %}
        <p class="fs-3 text-danger">{{ error }}</p>
        <div class="row">
            
            <div class="col-md-6">
                
                <div class="row">
                    <div class="col-lg-6">
                     
                        <div class="form-group">
                            <label for="{{ form.first_name.id_for_label }}">First Name</label>
                            {{ form.first_name|add_class:'form-control' }}
                        </div>

                    </div>
                    <div class="col-lg-6">

                        <div class="form-group">
                            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                            {{ form.last_name|add_class:'form-control' }}
                        </div>

                    </div>

                </div>

                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="{{ form.company.id_for_label }}">Company</label>
                            {{ form.company|add_class:'form-control' }}
                        </div>
                     
                    </div>
                     <div class="col-lg-6">

                        <div class="form-group">
                            <label for="{{ form.address.id_for_label }}">Address</label>
                            {{ form.address|add_class:'form-control' }}
                        </div>
                     
                    </div>

                </div>



                <div class="row">
                    

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="{{ form.city.id_for_label }}">City</label>
                            {{ form.city|add_class:'form-control' }}
                        </div>
                    </div>

                     <div class="col-lg-6">

                        <div class="form-group">
                            <label for="{{ form.state.id_for_label }}">State</label>
                            {{ form.state|add_class:'form-control' }}
                        </div>
                     
                    </div>

                </div>

                <div class="row">
                                                    

                    <div class="col-lg-6">

                        <div class="form-group">
                            <label for="{{ form.zip_code.id_for_label }}">Zip Code</label>
                            {{ form.zip_code|add_class:'form-control' }}
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="{{ form.country.id_for_label }}">Country</label>
                            {{ form.country|add_class:'form-control' }}
                        </div>
                    </div>

                </div>
                
                <div class="row">
                                                    

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                            {{ form.phone_number|add_class:'form-control' }}
                        </div>
                    </div>

                </div>
                <div class="row">                                     
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="py-2 d-flex align-items-center">
                                <input type="checkbox" name="customer"/>
                                <p class="fs-4 text-gray" style="margin: 0; margin-left: .5rem;">Save Customer</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">


                <div class="row">
                    
                    <div class="col-lg-12">

                        <div class="form-group">
                            <label for="{{ form.amount.id_for_label }}">Amount</label>
                            {{ form.amount|add_class:'form-control' }}
                        </div>

                    </div>

                </div>
                <div class="row">
                    
                    <div class="col-lg-12">

                        <div class="form-group">
                            <label for="{{ form.payment_method.id_for_label }}">Payment Method</label>
                            {{ form.payment_method|add_class:'form-control2' }}
                        </div>

                    </div>


                </div>


                 
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="{{ form.transaction_type.id_for_label }}">Transaction Type</label>
                            {{ form.transaction_type|add_class:'form-control' }}
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">

                        <div class="form-group">
                            <label for="{{ form.card_number.id_for_label }}">Card Number</label>
                            {{ form.card_number|add_class:'form-control' }}

                            <div class="cardNumberError" id="cardNumberError"></div>
                            {% if form.card_number.errors %}
                                <div class="invalid-feedback">
                                    {{ form.card_number.errors}}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-lg-2">

                        <div class="form-group">
                            <label for="{{ form.exp_month.id_for_label }}">Exp Month</label>
                            {{ form.exp_month|add_class:'form-control' }}
                            <div class="expmondaterror" id="expmondaterror"></div>
                        </div>
                    
                    </div>
                    <div class="col-lg-2">

                        <div class="form-group">
                            <label for="{{ form.exp_year.id_for_label }}">Exp Year</label>
                            {{ form.exp_year|add_class:'form-control' }}
                            <div class="" id="expyearerror"></div>
                        </div>
                    
                    </div>
                    <div class="col-lg-2">

                        <div class="form-group">
                            <label for="{{ form.cvv.id_for_label }}">CVV</label>
                            {{ form.cvv|add_class:'form-control' }}
                        </div>

                    </div>

                </div>



                <div class="row">
                    
                    <div class="col-lg-12">

                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email|add_class:'form-control' }}
                        </div>

                        {% comment %} <div class="form-group" style="display:none1">
                            <label for="{{ form.transaction_id.id_for_label }}">transaction_id</label>
                            {{ form.transaction_id|add_class:'form-control' }}
                        </div> {% endcomment %}

                    </div>

                   

                </div>


                <script>
                jQuery(document).ready(function() {
                    function detectCreditCardCompany(cardNumber) {
                        const patterns = {
                            visa: /^4[0-9]{12}(?:[0-9]{3})?$/,
                            mastercard: /^5[1-5][0-9]{14}$/,
                            amex: /^3[47][0-9]{13}$/,
                            discover: /^6(?:011|5[0-9]{2})[0-9]{12}$/
                        };

                        for (const company in patterns) {
                            if (patterns[company].test(cardNumber)) {
                                return company;
                            }
                        }

                        return false;
                    }
                  // Get the card number input element
                  var cardNumberInput = jQuery('#id_card_number');
                  const expmondateInput = $('#id_exp_month');
                  const expyearInput = $('#id_exp_year');

                  let isValid = false;

                  expyearInput.on('input',function(){
                    const expyeardate = expyearInput.val();
                    // console.log(expmondate.length > 2 || Number(expmondate) > 12)
                    const date = new Date();
                    const year = date.getFullYear()

                    if(expyeardate.length > 4 || Number(expyeardate) < Number(year) || Number(expyeardate) == NaN){
                        isValid = false;
                        $('#expyearerror').css({display: 'block'});
                        $('#expyearerror').html('<span style="color:red">Invalid expire year</span>')
                    }else{
                        isValid = true;
                        $('#expyearerror').css({display: 'none'});
                    }
                  });

                //   expire month 
                  expmondateInput.on('input',function(){
                    expmondate = expmondateInput.val();
                    // console.log(expmondate.length > 2 || Number(expmondate) > 12)
                    if(expmondate.length > 2 || Number(expmondate) > 12 || Number(expyeardate) == NaN){
                        isValid = false;
                        $('#expmondaterror').css({display: 'block'});
                        $('#expmondaterror').html('<span style="color:red">Invalid expire month</span>')
                    }else{
                        isValid = true;
                        $('#expmondaterror').css({display: 'none'});
                    }
                  });
                    
                  //card numver check 
                  cardNumberInput.on('input', function() {
                        var cardNumber = cardNumberInput.val();
                        // Check if the card number has exactly 16 digits
                        const cardname = detectCreditCardCompany(cardNumber);

                        if (cardNumber.length !== 16 ) {
                            isValid = false;
                            jQuery('#cardNumberError').html('<span style="color:red">Invalid credit card please add valid card number</span>');
                            cardNumberInput.addClass('is-invalid');
                        } else {
                            isValid = true;
                        jQuery('#cardNumberError').html(`<span style='color:${cardname ? 'green' : 'red'}'>${cardname ? cardname : 'Unknown'}</span>`);
                        cardNumberInput.removeClass('is-invalid');
                        }
                    });

                  const form = $('#form');
                
                  form.on('submit',function(e){
                    // Add event listener for input change
                    if(!isValid){
                        e.preventDefault();
                    }
                  });
                });
                </script>


                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        
                        var id_transaction_id = jQuery("#id_transaction_id").val();
                        if(id_transaction_id=="")
                        {
                            jQuery("#id_transaction_id").val('111');
                        }
                        // Attach submit event listener to the form
                        
                    });
                </script>
                
            </div>
        </div>
     

        
        <button type="submit" class="btn btn-primary">Save</button>
    </form> -->


    <!-- Modal -->
    <div class="modal fade bs-example-modal-xl" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <form method="POST" action="/transactions/create/" class="my_form">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new transaction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
          
                  <div class="message_box" style="text-align: center;"></div>

                  {% csrf_token %}
                  <div class="row">
            
                    <div class="col-md-6">
                        
                        <div class="row">
                            <div class="col-lg-6">
                             
                                <div class="form-group">
                                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                    {{ form.first_name|add_class:'form-control' }}
                                    <datalist id="customers-list">

                                    </datalist>
                                </div>
        
                            </div>
                            <div class="col-lg-6">
        
                                <div class="form-group">
                                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                                    {{ form.last_name|add_class:'form-control' }}
                                </div>
        
                            </div>
        
                        </div>
        
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="{{ form.company.id_for_label }}">Company</label>
                                    {{ form.company|add_class:'form-control' }}
                                </div>
                             
                            </div>
                             <div class="col-lg-6">
        
                                <div class="form-group">
                                    <label for="{{ form.address.id_for_label }}">Address</label>
                                    {{ form.address|add_class:'form-control' }}
                                </div>
                             
                            </div>
        
                        </div>
        
        
        
                        <div class="row">
                            
        
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="{{ form.city.id_for_label }}">City</label>
                                    {{ form.city|add_class:'form-control' }}
                                </div>
                            </div>
        
                             <div class="col-lg-6">
        
                                <div class="form-group">
                                    <label for="{{ form.state.id_for_label }}">State</label>
                                    {{ form.state|add_class:'form-control' }}
                                </div>
                             
                            </div>
        
                        </div>
        
                        <div class="row">
                                                            
        
                            <div class="col-lg-6">
        
                                <div class="form-group">
                                    <label for="{{ form.zip_code.id_for_label }}">Zip Code</label>
                                    {{ form.zip_code|add_class:'form-control' }}
                                </div>
        
                            </div>
        
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="{{ form.country.id_for_label }}">Country</label>
                                    {{ form.country|add_class:'form-control' }}
                                </div>
                            </div>
        
                        </div>
                        
                        <div class="row">
                                                            
        
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                                    {{ form.phone_number|add_class:'form-control' }}
                                </div>
                            </div>
        
                        </div>
                        <div class="row">                                     
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="py-2 d-flex align-items-center">
                                        <input type="checkbox" name="customer"/>
                                        <p class="fs-4 text-gray" style="margin: 0; margin-left: .5rem;">Save Customer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
        
        
                        <div class="row">
                            
                            <div class="col-lg-12">
        
                                <div class="form-group">
                                    <label for="{{ form.amount.id_for_label }}">Amount</label>
                                    {{ form.amount|add_class:'form-control' }}
                                </div>
        
                            </div>
        
                        </div>
                        <div class="row">
                            
                            <div class="col-lg-12">
        
                                <div class="form-group">
                                    <label for="{{ form.payment_method.id_for_label }}">Payment Method</label>
                                    {{ form.payment_method|add_class:'form-control2' }}
                                </div>
        
                            </div>
        
        
                        </div>
        
        
                         
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="{{ form.transaction_type.id_for_label }}">Transaction Type</label>
                                    {{ form.transaction_type|add_class:'form-control' }}
                                    <script>
                                        document.getElementById("id_transaction_type").value = "{{default}}";
                                    </script>
                                </div>
        
                            </div>
                        </div>
                        <div class="row" style=
                        "display: flex;
                        justify-content: center;
                        align-items: flex-end;">
                            <div class="col-lg-6">
        
                                <div class="form-group">
                                    <label for="{{ form.card_number.id_for_label }}">Card Number</label>
                                    {{ form.card_number|add_class:'form-control' }}
                                    <p style='color: red;' id="unique">{{unique}}</p>
                                    <script>
                                        const unique = document.getElementById('unique');
                                        setTimeout(() => unique.style.display = 'none',5000);
                                    </script>
                                    <datalist id="cards-list">

                                    </datalist>


                                    <div class="cardNumberError" id="cardNumberError"></div>
                                    {% if form.card_number.errors %}
                                        <div class="invalid-feedback">
                                            {{ form.card_number.errors}}
                                        </div>
                                    {% endif %}
                                </div>
        
                            </div>
                            <div class="col-lg-2">
        
                                <div class="form-group">
                                    <label for="{{ form.exp_month.id_for_label }}">Exp Month</label>
                                    {{ form.exp_month|add_class:'form-control' }}
                                    <div class="expmondaterror" id="expmondaterror"></div>
                                </div>
                            
                            </div>
                            <div class="col-lg-2">
        
                                <div class="form-group">
                                    <label for="{{ form.exp_year.id_for_label }}">Exp Year</label>
                                    {{ form.exp_year|add_class:'form-control' }}
                                    <div class="" id="expyearerror"></div>
                                </div>
                            
                            </div>
                            <div class="col-lg-2">
        
                                <div class="form-group">
                                    <label for="{{ form.cvv.id_for_label }}">CVV</label>
                                    {{ form.cvv|add_class:'form-control' }}
                                </div>
        
                            </div>
        
                        </div>
        
        
        
                        <div class="row">
                            
                            <div class="col-lg-12">
        
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">Email</label>
                                    {{ form.email|add_class:'form-control' }}
                                </div>
        
                                {% comment %} <div class="form-group" style="display:none1">
                                    <label for="{{ form.transaction_id.id_for_label }}">transaction_id</label>
                                    {{ form.transaction_id|add_class:'form-control' }}
                                </div> {% endcomment %}
        
                            </div>
        
                           
        
                        </div>
        
        
                        <script>
                        jQuery(document).ready(function() {
                            function detectCreditCardCompany(cardNumber) {
                                const patterns = {
                                    visa: /^4[0-9]{12}(?:[0-9]{3})?$/,
                                    mastercard: /^5[1-5][0-9]{14}$/,
                                    amex: /^3[47][0-9]{13}$/,
                                    discover: /^6(?:011|5[0-9]{2})[0-9]{12}$/
                                };
        
                                for (const company in patterns) {
                                    if (patterns[company].test(cardNumber)) {
                                        return company;
                                    }
                                }
        
                                return false;
                            }
                          // Get the card number input element
                          var cardNumberInput = jQuery('#id_card_number');
                          const expmondateInput = $('#id_exp_month');
                          const expyearInput = $('#id_exp_year');
        
                          let isValid = false;
        
                          expyearInput.on('input',function(){
                            const expyeardate = expyearInput.val();
                            // console.log(expmondate.length > 2 || Number(expmondate) > 12)
                            const date = new Date();
                            const year = date.getFullYear()
        
                            if(expyeardate.length > 4 || Number(expyeardate) < Number(year) || Number(expyeardate) == NaN){
                                isValid = false;
                                $('#expyearerror').css({display: 'block'});
                                $('#expyearerror').html('<span style="color:red">Invalid expire year</span>')
                            }else{
                                isValid = true;
                                $('#expyearerror').css({display: 'none'});
                            }
                          });
        
                        //   expire month 
                          expmondateInput.on('input',function(){
                            expmondate = expmondateInput.val();
                            // console.log(expmondate.length > 2 || Number(expmondate) > 12)
                            if(expmondate.length > 2 || Number(expmondate) > 12 || Number(expyeardate) == NaN){
                                isValid = false;
                                $('#expmondaterror').css({display: 'block'});
                                $('#expmondaterror').html('<span style="color:red">Invalid expire month</span>')
                            }else{
                                isValid = true;
                                $('#expmondaterror').css({display: 'none'});
                            }
                          });
                            
                          //card numver check 
                          cardNumberInput.on('input', function() {
                                var cardNumber = cardNumberInput.val();
                                // Check if the card number has exactly 16 digits
                                const cardname = detectCreditCardCompany(cardNumber);
        
                                if (cardNumber.length !== 16 ) {
                                    isValid = false;
                                    jQuery('#cardNumberError').html('<span style="color:red">Invalid credit card please add valid card number</span>');
                                    cardNumberInput.addClass('is-invalid');
                                } else {
                                    isValid = true;
                                jQuery('#cardNumberError').html(`<span style='color:${cardname ? 'green' : 'red'}'>${cardname ? cardname : 'Unknown'}</span>`);
                                cardNumberInput.removeClass('is-invalid');
                                }
                            });
        
                          const form = $('#form');
                        
                          form.on('submit',function(e){
                            // Add event listener for input change
                            if(!isValid){
                                e.preventDefault();
                            }
                          });
                        });
                        </script>
        
        
                        <script type="text/javascript">
                            jQuery(document).ready(function() {
                                
                                var id_transaction_id = jQuery("#id_transaction_id").val();
                                if(id_transaction_id=="")
                                {
                                    jQuery("#id_transaction_id").val('111');
                                }
                                // Attach submit event listener to the form
                                
                            });
                        </script>
                        
                    </div>
                </div>
               

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary process" >Process</button>
            </div>

            </form>


          </div>
        </div>
    </div>

    <!-- customers  -->
    <input type="text" id="customers" value="{{customers}}" hidden="true"/>

    <script>
        const modalEle = document.getElementById('modal');
        const model = new bootstrap.Modal(modalEle, {});
        model.show();

        $('#modal').on('hidden.bs.modal', function (e) {
            if (!document.referrer.includes('/transactions/transaction_list/')){
                window.location.pathname = '/projects/report';
            }else{
                window.location.pathname = '/%2Faccount/dashboard2';
            }
        })





        // customer code start
        const customers = JSON.parse(document.getElementById('customers').value);
        const customerslist = document.getElementById('customers-list');
        const firstName = document.getElementById('id_first_name');
        const lastName = document.getElementById('id_last_name');
        const company = document.getElementById('id_company');
        const address = document.getElementById('id_address');
        const city = document.getElementById('id_city');
        const state = document.getElementById('id_state');
        const zipCode = document.getElementById('id_zip_code');
        const country = document.getElementById('id_country');
        const phoneNumber = document.getElementById('id_phone_number');
        const email = document.getElementById('id_email');

        const cardsList = document.getElementById('cards-list');
        const cardNumber = document.getElementById('id_card_number');
        const expMonth = document.getElementById('id_exp_month');
        const expYear = document.getElementById('id_exp_year');
        const cvv = document.getElementById('id_cvv');
        
        Object.keys(customers).forEach(ele => {
            const option = document.createElement('option');
            option.value = ele;
            customerslist.appendChild(option)
        });


        firstName.addEventListener('change',function(){
            const name = firstName.value
            customer = customers[name]
            if(customer){
                console.log(customer)
                lastName.value = customer['last_name']
                company.value = customer['company']
                address.value = customer['address']
                city.value = customer['city']
                state.value = customer['state']
                zipCode.value = customer['zip_code']
                country.value = customer['country']
                phoneNumber.value = customer['phone_number']
                email.value = customer['email']
                card_number = Object.keys(customer['cards'])[0]
                const card = customer['cards'][card_number]
                cardNumber.value = card_number || ''
                expMonth.value = card['exp_month']
                expYear.value = card['exp_year']
                cvv.value = card['cvv']
                // add card list 
                while(cardsList.firstChild){
                    cardsList.removeChild(cardsList.firstChild);
                }

                Object.keys(customer['cards']).forEach(ele => {
                    const option = document.createElement('option');
                    option.value = ele;
                    cardsList.appendChild(option);
                });

                cardNumber.addEventListener('change',function(){
                    const card_number = cardNumber.value
                    const card = customer['cards'][card_number]
                    console.info(customer)
                    if(card){
                        expMonth.value = card['exp_month']
                        expYear.value = card['exp_year']
                        cvv.value = card['cvv']
                    }
                });
            }
        });
        
    </script>


       
{% endblock %}

{% block extra_javascript %}
    {{ form.media.js }}
    <!-- bootstrap datepicker -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- dropzone plugin -->
    <script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

    <script src="{% static 'js/pages/project-create.init.js' %}"></script>

{% endblock %}