{% extends 'partials/new_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  

{% endblock %}

{% block contents %}

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'libs/datatables.net-autofill-bs4/js/model_autoload.js' %}"></script>

<script type="text/javascript">
function confirmDelete() {
    if (confirm("Are you sure you want to delete this item?")) {
        return true;
    } else {
        return false;
    }
}

</script>
<style>
.filter-form label {
  float: left;
  margin-right: 10px;
}
.filter-form p {
  float: left;
  margin-right: 10px;
}

.filter-form input[type="text"] {
  width: 200px;
  float: left;
  border: 1px solid #ccc;
  height: 40px;


}

.filter-form button[type="submit"] {
  float: left;


}
.my_form label{ font-size:13px !important ; margin-bottom: 0.2rem !important;}

</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col-sm">
                        <div class="search-box me-2 d-inline-block">
                            <div class="position-relative">
                             
                                {% if not report %}
                               

                                {% else %}
                                {% load static %}
                                
                                <form method="get" onsubmit="submit()" id="customform">
                                    <div class="d-flex align-items-center gap-4">
                                        <div class="d-flex" style="flex-direction: column">
                                            <label class="fs-4 text-dark" style="font-size: 1.3rem; margin-bottom: 0.2rem !important">Start</label>
                                            <input type="date" class="form-control input-default " name="start_date" id="start_date"/>
                                        </div>
                                        <div class="d-flex" style="flex-direction: column">
                                            <label class="fs-4 text-dark" style="font-size: 1.3rem; margin-bottom: 0.2rem !important">End</label>
                                            <input type="date" class="form-control input-default" name="end_date" id="end_date"/>
                                        </div>
                    
                                        <select name="status" id="custom-status" class="form-control input-default" style="margin-bottom: -2rem; display: block !important;">
                                            <option value="all" selected>All</option>
                                            <option value="Complete">Complete</option>
                                            <option value="Failed">Failed</option>
                                        </select>

                                        <select name="transaction_type" id="transaction_type" class="form-control input-default" style="margin-bottom: -2rem;">
                                            <option value="all" selected>All</option>
                                            <option value="charge">Charge</option>
                                            <option value="save">Save</option>
                                            <option value="auth_only">Auth Only</option>
                                            <option value="refund">Refund</option>
                                            <option value="post_auth">Post Auth</option>
                                            <option value="gift_issue">Gift Issue</option>
                                            <option value="gift_redeem">Gift Redeem</option>
                                        </select>

                                        <input type="text" style="margin-bottom: -2rem;" class="form-control input-default" placeholder="search by card number" id="card_number" name="card_number"/>
                                        <input type="text" style="margin-bottom: -2rem;" class="form-control input-default" placeholder="search by account holder name" id="holder_name" name="holder_name"/>

                                        <div class="d-flex justify-content-end align-items-center" style="margin-bottom: -2rem;">
                                            <a class="btn btn-primary" href="/static/csv/{{username}}.csv" style="white-space: pre;" download>Export CSV</a>
                                        </div>
                                    </div>
                                </form>
                                <script>
                                    const start_date = document.getElementById('start_date');
                                    const end_date = document.getElementById('end_date');
                                    const status = document.getElementById('custom-status');
                                    const transaction_type = document.getElementById('transaction_type');
                                    const card_number = document.getElementById('card_number');
                                    const holder_name = document.getElementById('holder_name');
                                    const form = document.getElementById('customform');

                                    function submit(e){
                                        e.target.submit();
                                    }

                                    function change(){
                                        this.form.submit();
                                    }

                                    let time;
                                    function debounce(){
                                        
                                    
                                        clearTimeout(time)

                                        time = setTimeout(() => {
                                            form.submit(); 
                                        }, 1000);
                                    }

                                    

                                    // on change submit
                                    start_date.onchange = change;
                                    end_date.onchange = change;
                                    status.onchange = change;
                                    transaction_type.onchange = change;
                                    card_number.onkeypress = debounce;
                                    holder_name.onkeypress = debounce;
                                    
                                    


                                    const urlParams = new URLSearchParams(window.location.search);
                                    const startvalue = urlParams.get('start_date');
                                    const endvalue = urlParams.get('end_date');
                                    const statusvalue = urlParams.get('status');
                                    const transaction_type_value = urlParams.get('transaction_type');
                                    const card_number_value = urlParams.get('card_number');
                                    const holder_name_value = urlParams.get('holder_name');
                                    
                                    if (startvalue) start_date.value = startvalue;
                                    if (endvalue) end_date.value = endvalue;
                                    if (statusvalue) startvalue.value = statusvalue;
                                    if (transaction_type_value) transaction_type.value = transaction_type_value;
                                    if (card_number_value) card_number.value = card_number_value;
                                    if (holder_name_value) holder_name.value = holder_name_value;


                                     
                                </script>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <!-- <div class="col-sm-auto">
                        <div class="text-sm-end">
                            <a href="javascript" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#exampleModal"  id="addTransaction-btn"><i class="mdi mdi-plus me-1"></i> Add New Transaction</a>
                        </div>
                    </div> -->
                    <!-- end col -->
                </div>
                <!-- end row -->
                <div class="">


                    <input type="number" value={{length}} id="length" hidden="true"/>
                    <div class="col-lg-12">
                        <div >
                            <div >                           
                                <div class="table-responsive">
                                    <table class="table table-responsive-md" id="transactionList-table">
                                        <thead>
                                            <tr>
                                                <th style="padding: 0 4rem 0 0;">#</th>
                                                <th style="padding: 0 4rem 0 0;">First Name</th>
                                                <th style="padding: 0 4rem 0 0;">Last Name</th>
                                                <th style="padding: 0 4rem 0 0;">Company</th>
                                                <th style="padding: 0 4rem 0 0;">Address</th>
                                                <th style="padding: 0 4rem 0 0;">City</th>
                                                <th style="padding: 0 4rem 0 0;">State</th>
                                                <th style="padding: 0 4rem 0 0;">Zip Code</th>
                                                <th style="padding: 0 4rem 0 0;">Country</th>
                                                <th style="padding: 0 4rem 0 0;">Phone Number</th>
                                                <th style="padding: 0 4rem 0 0;">Amount</th>
                                                <th style="padding: 0 4rem 0 0;">Fees</th>
                                                <th style="padding: 0 4rem 0 0;">Total</th>
                                                <th style="padding: 0 4rem 0 0;">Payment Method</th>
                                                <th style="padding: 0 4rem 0 0;">Transaction Type</th>
                                                <th style="padding: 0 4rem 0 0;">Card Number</th>
                                                <th style="padding: 0 4rem 0 0;">Expiration Date</th>
                                                <th style="padding: 0 4rem 0 0;">CVV</th>
                                                <th style="padding: 0 4rem 0 0;">Bluesnap Trans.ID</th>
                                                <th style="padding: 0 4rem 0 0;">Email</th>
                                                <th style="padding: 0 4rem 0 0;">Date</th>
                                                <th style="padding: 0 4rem 0 0;">Transaction By</th>
                                                <th style="padding: 0 4rem 0 0;">status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction in transactions %}
                                                <tr>
                                                    <td style="padding: 0 4rem 0 0;"id="btn{{forloop.counter}}" style="cursor: pointer;">{{ forloop.counter }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.first_name }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.last_name }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.company }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.address }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.city }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.state }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.zip_code }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.country }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.phone_number }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.amount }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.fee }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.total }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.payment_method }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.transaction_type }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">xxxx xxxx xxxx {{ transaction.card_number|slice:"-4:" }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">xx / xxxx</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">xxx</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.transaction_id }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.email }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">{{ transaction.date }}</td>
                                                    <td style="white-space: pre; padding: 0 4rem 0 0;">Transaction By {{ transaction.by }}</td>
                                                    {% if transaction.status == "Complete" %}
                                                        <th scope="col">
                                                            <span class="py-1 px-2 rounded text-white" style="background: green;">{{transaction.status}}</span>
                                                        </th>
                                                    {% endif %}

                                                    {% if transaction.status == "Failed" %}
                                                        <th scope="col">
                                                            <span class="py-1 px-2 rounded text-white" style="background: red;">{{transaction.status}}</span>
                                                        </th>
                                                    {% endif %}
                                                </tr>
                                                {% if report %}
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modal{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close{{forloop.counter}}">X</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">First Name</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.first_name}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Last Name</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.last_name}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Company</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.company}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Address</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.address}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">City</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.city}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">State</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.state}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Zip Code</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.zip_code}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Country</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.country}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Phone Number</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.phone_number}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Amount</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.amount}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Fee</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.fee}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Total</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.total}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Payment Method</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.payment_method}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Transaction Type</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.transaction_type}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Card Number</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.card_number}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Expiration Date</p>
                                                                    <p class="fs-4 text-gray-400">{{ transaction.exp_month }} / {{ transaction.exp_year }}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">CVV</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.cvv}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Trans.ID</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.transaction_id}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Email</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.email}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">Date</p>
                                                                    <p class="fs-4 text-gray-400">{{transaction.date}}</p>
                                                                </div>
                                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                                    <p class="fs-4 text-dark">status</p>
                                                                    {% if transaction.status == "Complete" %}
                                                                            <span class="py-1 px-2 rounded text-white" style="background: green;">{{transaction.status}}</span>
                                                                    {% endif %}

                                                                    {% if transaction.status == "Failed" %}
                                                                        <span class="py-1 px-2 rounded text-white" style="background: red;">{{transaction.status}}</span>
                                                                    {% endif %}
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% empty %}
                                                <tr>
                                                    <td colspan="18" class="text-center">No transactions.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        const len = +document.getElementById('length').value;


                        for (let index = 1; index < len+1; index++) {
                            const btn = document.getElementById(`btn${index}`);
                            const close = document.getElementById(`close${index}`);
                            console.log(close)
                            btn.addEventListener('click',() => {
                                const model = new bootstrap.Modal(document.getElementById(`modal${index}`), {});
                                model.show();

                                close.addEventListener('click',() => {
                                    model.hide();
                                });
                            });
                        }
                    </script>


                    
                    {% comment %} <div class="table-responsive">
                        <table class="table transaction-list-table align-middle table-nowrap dt-responsive nowrap w-100 table-borderless" id="transactionList-table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" style="width: 60px">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Company</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Zip Code</th>
                                <th scope="col">Country</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Transaction Type</th>
                                <th scope="col">Card Number</th>
                                <th scope="col">Expiration Date</th>
                                <th scope="col">CVV</th>
                                <th scope="col">Bluesnap Trans.ID</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in filter.qs %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ transaction.first_name }}</td>
                                    <td>{{ transaction.last_name }}</td>
                                    <td>{{ transaction.company }}</td>
                                    <td>{{ transaction.address }}</td>
                                    <td>{{ transaction.city }}</td>
                                    <td>{{ transaction.state }}</td>
                                    <td>{{ transaction.zip_code }}</td>
                                    <td>{{ transaction.country }}</td>
                                    <td>{{ transaction.phone_number }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ transaction.payment_method }}</td>
                                    <td>{{ transaction.transaction_type }}</td>
                                    <td>xxxx xxxx xxxx {{ transaction.card_number|slice:"-4:" }}</td>
                                    <td>{{ transaction.exp_month }} / {{ transaction.exp_year }}</td>
                                    <td>{{ transaction.cvv }}</td>
                                     <td>{{ transaction.transaction_id }}</td>
                                    <td>{{ transaction.email }}</td>
                                    <td>
                                        <!-- <a href="{% url 'transactions:transaction_update' transaction.pk %}" class="btn btn-outline-primary btn-sm">Update Record<i class="mdi mdi-pencil"></i></a> -->
                                        <a href="{% url 'transactions:transaction_delete' transaction.pk %}"   class="btn btn-danger" >Delete</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="18" class="text-center">No transactions.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>
<!-- end row -->

{% endblock %}

{% block extra_content %}          
<!-- Modal -->
<div class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body px-4 py-5 text-center">
                <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="avatar-sm mb-4 mx-auto">
                    <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
                        <i class="mdi mdi-trash-can-outline"></i>
                    </div>
                </div>
                <p class="text-muted font-size-16 mb-4">Are you sure you want to remove this order?</p>
                
                <div class="hstack gap-2 justify-content-center mb-0">
                    <button type="button" class="btn btn-danger" id="remove-item">Remove Now</button>
                    <button type="button" class="btn btn-secondary" id="close-removeProjectModal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- end removeItemModal -->